{% extends "base.html" %}

{% block content %}
<h2>Article Detail</h2>

    <h3>제목:{{ article.title }}</h3>
    <p>게시글: {{ article.content }}</p>
    <p>작성 시간: {{ article.created_at }}</p>
    <p>수정일시 :</p>{{ article.updated_at }}</p>

    <a href="{% url 'articles' %}">목록 보기
        
    </a>
    <a href="{% url 'edit' article.pk %}">
        <button>수정하기</button>
    </a>

    <form action="{% url 'delete' article.pk %}" method="post">
        {% csrf_token%}
        <input type="submit" value="삭제">
    </form>

{% endblock content %}